@{
    int rowNumber = 1;
}



@model IEnumerable<GetCarsDto>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Car List</h4>
                    <p class="card-subtitle mb-4">
                        For basic styling—light padding and only horizontal
                        dividers—add the base class <code>.table</code> to any
                        <code>&lt;table&gt;</code>.
                    </p>

                    <div class="mb-2">
                        <a asp-area="Admin" asp-controller="Car" asp-action="Create" class="btn btn-success waves-effect waves-light">
                            <i class="fas fa-plus"></i>
                            Create Car
                        </a>
                    </div>

                    @if (!Model.Any())
                    {
                        <div class="alert alert-info">
                            There is no car here. Please create a new one.
                        </div>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <table class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Brand</th>
                                        <th>Model</th>
                                        <th>Km</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th scope="row">@(rowNumber++)</th>
                                            <td>@item.BrandName</td>
                                            <td>@item.ModelName</td>
                                            <td>@item.Km</td>
                                            <td>
                                                <a asp-area="Admin" asp-controller="Car" asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning text-white">
                                                    <i class="bi bi-pencil-fill"></i>
                                                    Edit
                                                </a>
                                                <a asp-area="Admin" asp-controller="Feature" asp-action="GetCarFeaturesByCarId" asp-route-carId="@item.Id" asp class="btn btn-primary text-white">
                                                    <i class="fas fa-tools"></i>
                                                    Features
                                                </a>
                                                <a asp-area="" asp-controller="Car" asp-action="GetById" asp-route-id="@item.Id" class="btn btn-info text-white">
                                                    <i class="fas fa-eye"></i>
                                                    Detail
                                                </a>
                                                <a asp-area="Admin" asp-controller="Car" asp-action="Pricing" asp-route-id="@item.Id" class="btn btn-success text-white">
                                                    <i class="bi bi-currency-dollar"></i>
                                                    Pricings
                                                </a>
                                                <a asp-area="Admin" asp-controller="Car" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger text-white">
                                                    <i class="bi bi-trash3-fill"></i>
                                                    Remove
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
