@model GetBlogByIdWithAuthorDto

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('@Model.CoverImageUrl');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs">
                    <span class="mr-2"><a asp-controller="Home" asp-action="Index">Home <i class="ion-ios-arrow-forward"></i></a></span>
                    <span class="mr-2"><a asp-controller="Blog" asp-action="Index">Blog <i class="ion-ios-arrow-forward"></i></a></span>
                    @*<span>Blog Single <i class="ion-ios-arrow-forward"></i></span>*@
                </p>
                <h1 class="mb-3 bread">@Model.Title</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                <h2 class="mb-3">@Model.Title</h2>
                <p>
                    <img src="@Model.CoverImageUrl" alt="" class="img-fluid">
                </p>
                <p>@Model.Content</p>

                @await Component.InvokeAsync("BlogTags", new { blogId = ViewData["BlogId"] })

                <div class="about-author d-flex p-4 bg-light">
                    <div class="bio mr-5">
                        <img src="@Model.BlogAuthorImageUrl" alt="Image placeholder" class="img-fluid mb-4">
                    </div>
                    <div class="desc">
                        <h3>@Model.BlogAuthorName</h3>
                        <p>
                            @Model.BlogAuthorDescription
                        </p>
                    </div>
                </div>

                <div class="pt-5 mt-5">
                    @await Component.InvokeAsync("BlogComments", new { blogId = ViewData["BlogId"] })

                    <partial name="~/Views/Shared/PartialViews/_BlogCommentForm.cshtml" />
                </div>

            </div> <!-- .col-md-8 -->
            <div class="col-md-4 sidebar ftco-animate">
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon icon-search"></span>
                            <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>
                @await Component.InvokeAsync("SidebarBlogCategories")

                @await Component.InvokeAsync("SidebarLast3Blogs")

                @await Component.InvokeAsync("LastNBlogTags", new { count = 5 })
            </div>

        </div>
    </div>
</section>