@model List<GetBlogAuthorsDto>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Blog Author List</h4>
                    <p class="card-subtitle mb-4">
                        Manage blog authors here. You can create, update and delete blog authors.
                    </p>
                    <div class="mb-2">
                        <a asp-area="Admin" asp-controller="BlogAuthor" asp-action="Create" class="btn btn-success waves-effect waves-light">
                            <i class="fas fa-plus"></i>
                            Create Blog Author
                        </a>
                    </div>
                    @if (!Model.Any())
                    {
                        <div class="alert alert-info">
                            There is no blog author here. Please create a new one.
                        </div>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <table class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Image Url</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count; ++i)
                                    {
                                        <tr>
                                            <td scope="row">@(i + 1)</td>
                                            <td>@Model[i].Name</td>
                                            <td>@Model[i].Description</td>
                                            <td>
                                                @Model[i].ImageUrl
                                                <a target="_blank" href="@Model[i].ImageUrl" class="btn btn-primary btn-rounded text-white">
                                                    <i class="fas fa-image"></i>
                                                    View Image
                                                </a>
                                            </td>
                                            <td>
                                                <a asp-area="Admin" asp-controller="BlogAuthor" asp-action="Update" asp-route-id="@Model[i].Id" class="btn btn-warning text-white">
                                                    <i class="bi bi-pencil-fill"></i>
                                                    Edit
                                                </a>

                                                <a asp-area="Admin" asp-controller="BlogAuthor" asp-action="Delete" asp-route-id="@Model[i].Id" class="btn btn-danger text-white">
                                                    <i class="bi bi-trash3-fill"></i>
                                                    Remove
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
