@model SmartBookRecommendationResultViewModel

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/website-template/images/smartbook-ai.jpeg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            Home
                            <i class="ion-ios-arrow-forward"></i>
                        </a>
                    </span>
                    <span>
                        SmartBook
                        <i class="ion-ios-arrow-forward"></i>
                    </span>
                </p>
                <h1 class="mb-3 bread">Recommended Car for you</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="car-wrap rounded ftco-animate">
                    <div class="img rounded d-flex align-items-end" style="background-image: url(@Model.Car.CoverImageUrl);">
                    </div>
                    <div class="text">
                        <h2 class="mb-0">
                            <a href="">
                                @Model.Car.BrandName @Model.Car.ModelName
                            </a>
                        </h2>
                        <div class="d-flex mb-3">
                            <span class="car-d">@Model.Car.BrandName </span>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="car-d">
                                <i class="bi bi-gear-fill"></i>
                                @Model.Car.TransmissionType
                            </span>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="car-d">
                                <i class="bi bi-fuel-pump-fill"></i>
                                @Model.Car.FuelType
                            </span>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="car-d">
                                <i class="bi bi-signpost-fill"></i>
                                @Model.Car.Km KM Driven
                            </span>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="car-d">
                                <i class="bi bi-car-front-fill"></i>
                                @Model.Car.SeatCount Seats
                            </span>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="car-d">
                                <i class="bi bi-backpack2-fill"></i>
                                @Model.Car.Luggage Rack
                            </span>
                        </div>
                        <p class="d-flex mb-0 d-block justify-content-center">
                            <a asp-controller="Car" asp-action="GetById" asp-route-id="@Model.Car.Id" class="btn btn-secondary py-2 ml-1">
                                Go To Car Details
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="car-wrap rounded border-primary border-5">
                    <div class="text">
                        <h2 class="mb-0">
                            <a href="car-single.html">
                                Reason for Recommendation
                            </a>
                        </h2>
                        <div class="d-flex mb-3">
                            <span class="car-d">
                                @Model.Reason
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
